/jni/libcutils
/obj
/libs
/bin
/gen
/out
/.idea
*.swp
tags
TAGS.LST
ID

AndroidUnusedResources1.6.2.jar

/jni/pjproject-android/build
jni/pjproject-android/pjsip/build/.pjsua2-lib-arm-unknown-linux-androideabi.depend
jni/pjproject-android/pjsip/build/.pjsua2-test-arm-unknown-linux-androideabi.depend
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
SFLPhone.iml

ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
Callback.java
VectMap.java
*.o
tests/bin
