/jni/libcutils
/obj
/libs
/bin
/gen
*.swp
tags
TAGS.LST
ID


.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties

ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
Callback.java
VectMap.java
jni/pjproject-android/build/cc-auto.mak
*.o
