/jni/libcutils
/obj
/jni/obj
/libs
/bin
/gen
/out
/sflphone
/.idea
*.swp
tags
TAGS.LST
ID

AndroidUnusedResources1.6.2.jar
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
SFLPhone.iml

ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
Callback.java
VectMap.java
*.o
tests/bin
