<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2004-2013 Savoir-Faire Linux Inc.                     
                                                                    
Author: 	Alexandre Lision <alexandre.lision@gmail.com>
			Adrien Beraud <adrien.beraud@gmail.com>                     
                                                                    
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or   
(at your option) any later version.                                 
                                                                    
This program is distributed in the hope that it will be useful,     
but WITHOUT ANY WARRANTY; without even the implied warranty of      
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       
GNU General Public License for more details.                        
                                                                    
You should have received a copy of the GNU General Public License   
along with this program; if not, write to the Free Software         
 Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.          
                                                                    
Additional permission under GNU GPL version 3 section 7:            
                                                                    
If you modify this program, or any covered work, by linking or      
combining it with the OpenSSL project's OpenSSL library (or a       
modified version of that library), containing parts covered by the  
terms of the OpenSSL or SSLeay licenses, Savoir-Faire Linux Inc.    
grants you additional permission to convey the resulting work.      
Corresponding Source for a non-source form of such a combination    
shall include the source code for the parts of OpenSSL used as well 
as that of the covered work.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savoirfairelinux.sflphone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.savoirfairelinux.sflphone.client.SFLphoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.savoirfairelinux.sflphone.client.SFLPhoneHomeActivity"
            android:label="@string/title_activity_sflphone_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.savoirfairelinux.sflphone.client.SFLPhonePreferenceActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.savoirfairelinux.sflphone.client.SFLPhoneHome" />
        </activity>
        <activity
            android:name="com.savoirfairelinux.sflphone.client.AccountWizard"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.savoirfairelinux.sflphone.client.SFLPhoneHome" />
        </activity>
        <activity
            android:name="com.savoirfairelinux.sflphone.client.AccountPreferenceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.savoirfairelinux.sflphone.client.CallActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <!-- <receiver -->
        <!-- android:name="com.savoirfairelinux.sflphone.receivers.ExternalCallReceiver" -->
        <!-- android:exported="true" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name="com.savoirfairelinux.sflphone.service.SipService"
            android:exported="false" >
            <intent-filter>
                <action android:name=".service.SipService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.savoirfairelinux.sflphone.client.ActivityHolder"
            android:label="@string/title_activity_sflphone_home" >
        </activity>
    </application>

</manifest>