/jni/libcutils
/obj
/jni/obj
/libs
/bin
gen/
/out
/.idea
*.swp
tags
TAGS.LST
ID

src/org/sflphone/views/paralloidviews/
src/org/sflphone/views/paralloid

AndroidUnusedResources1.6.2.jar

.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
SFLPhone.iml

jni/sflphone_wrapper.cpp
jni/sflphone_wrapper.h
jni/sflphoneservice_loader.c


.ant-targets-build.xml
ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
Callback.java
VectMap.java
*.o
tests/bin
