.deps
.libs
Makefile
Makefile.in
*.lo
*.la
dbus-daemon
dbus-daemon-activation-helper
dbus-daemon-activation-helper-test
dbus-daemon-launch-helper
dbus-daemon-launch-helper-test
*.bb
*.bbg
*.da
*.gcov
bus-test
rc.messagebus
messagebus
session.conf
system.conf
dbus-daemon.1
bus-test-launch-helper
bus-test-system
dbus.service
dbus.socket
