obj/
bin/
gen/
out/
libs/
*.swp
tags
TAGS.LST
ID

**/.idea/
*.iml

AndroidUnusedResources1.6.2.jar

.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
gradle/wrapper/

jni/sflphone_wrapper.cpp
jni/sflphone_wrapper.h
jni/sflphoneservice_loader.c


ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
IntegerMap.java
Callback.java
VectMap.java
*.o
tests/bin
/.gradle/
/app/build/
/libringclient/build/
/libringclient/src/main/java/cx/ring/daemon/Blob.java
/libringclient/src/main/java/cx/ring/daemon/FloatVect.java
/libringclient/src/main/java/cx/ring/daemon/Ringservice.java
/libringclient/src/main/java/cx/ring/daemon/RingserviceJNI.java
/libringclient/src/main/java/cx/ring/daemon/UintVect.java
/libringclient/src/main/java/cx/ring/daemon/VideoCallback.java
/libringclient/src/main/java/cx/ring/daemon/PresenceCallback.java
/libringclient/src/main/jni/ring_wrapper.cpp
/libringclient/src/main/jni/ring_wrapper.h
/libringclient/src/main/jni/ringservice_loader.c
/build/
