bin/
gen/
out/
libs/
unstripped/
*.swp
tags
TAGS.LST
ID

**/.idea/
*.iml

.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
gradle/wrapper/

ant.properties
*.keystore
SWIGTYPE*
*.o
tests/bin
/.gradle/
/app/build/
/androidtv/build/
/libringclient/build/
/libringclient/src/main/java/cx/ring/daemon/*
/build/
**/google-services.json
