obj/
bin/
gen/
out/
libs/
*.swp
tags
TAGS.LST
ID

**/.idea/workspace.xml
**/.idea/tasks.xml

AndroidUnusedResources1.6.2.jar

.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
local.properties
.externalToolBuilders/
.settings/org.eclipse.ltk.core.refactoring.prefs
gradle/wrapper/

jni/sflphone_wrapper.cpp
jni/sflphone_wrapper.h
jni/sflphoneservice_loader.c


ant.properties
*.keystore
SFLPhoneservice*
CallManager.java
CallManagerCallback.java
ConfigurationManager.java
ConfigurationCallback.java
ManagerImpl.java
SWIGTYPE*
StringMap.java
StringVect.java
IntVect.java
IntegerMap.java
Callback.java
VectMap.java
*.o
tests/bin
/.gradle/
/app/build/
/app/src/main/java/cx/ring/service/Blob.java
/app/src/main/java/cx/ring/service/FloatVect.java
/app/src/main/java/cx/ring/service/Ringservice.java
/app/src/main/java/cx/ring/service/RingserviceJNI.java
/app/src/main/java/cx/ring/service/UintVect.java
/app/src/main/java/cx/ring/service/VideoCallback.java
/app/src/main/jni/ring_wrapper.cpp
/app/src/main/jni/ring_wrapper.h
/app/src/main/jni/ringservice_loader.c
/build/
