<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2004-2014 Savoir-Faire Linux Inc.
                                                                    
Author: 	Alexandre Lision <alexandre.lision@savoirfairelinux.com>
			Adrien Beraud <adrien.beraud@gmail.com>                     
                                                                    
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or   
(at your option) any later version.                                 
                                                                    
This program is distributed in the hope that it will be useful,     
but WITHOUT ANY WARRANTY; without even the implied warranty of      
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       
GNU General Public License for more details.                        
                                                                    
You should have received a copy of the GNU General Public License   
along with this program; if not, write to the Free Software         
 Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.          
                                                                    
Additional permission under GNU GPL version 3 section 7:            
                                                                    
If you modify this program, or any covered work, by linking or      
combining it with the OpenSSL project's OpenSSL library (or a       
modified version of that library), containing parts covered by the  
terms of the OpenSSL or SSLeay licenses, Savoir-Faire Linux Inc.    
grants you additional permission to convey the resulting work.      
Corresponding Source for a non-source form of such a combination    
shall include the source code for the parts of OpenSSL used as well 
as that of the covered work.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cx.ring"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="2.0.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_SIP" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="cx.ring.client.HomeActivity"
            android:label="@string/title_activity_sflphone_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithOverlay"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cx.ring.client.AccountWizard"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutOverlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cx.ring.client.AccountPreferenceActivity" />
        </activity>
        <activity
            android:name="cx.ring.client.AccountEditionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutOverlay" />
        <activity
            android:name="cx.ring.client.DetailHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutOverlay" />
        <activity
            android:name="cx.ring.client.CallActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutOverlay"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name="cx.ring.service.SipService"
            android:exported="false" >
            <intent-filter>
                <action android:name=".service.SipService" />
            </intent-filter>
        </service>
    </application>

</manifest>