pjproject-android/build.mak
pjproject-android/build/os-auto.mak
pjproject-android/config.log
pjproject-android/config.status
pjproject-android/pjlib-util/bin/
pjproject-android/pjlib-util/build/.pjlib-util-arm-unknown-linux-androideabi.depend
pjproject-android/pjlib-util/build/.pjlib-util-test-arm-unknown-linux-androideabi.depend
pjproject-android/pjlib-util/build/os-auto.mak
pjproject-android/pjlib-util/build/output/
pjproject-android/pjlib-util/lib/
pjproject-android/pjlib/bin/
pjproject-android/pjlib/build/.pjlib-arm-unknown-linux-androideabi.depend
pjproject-android/pjlib/build/.pjlib-test-arm-unknown-linux-androideabi.depend
pjproject-android/pjlib/build/os-auto.mak
pjproject-android/pjlib/build/output/
pjproject-android/pjlib/include/pj/compat/m_auto.h
pjproject-android/pjlib/include/pj/compat/os_auto.h
pjproject-android/pjlib/include/pj/config_site.h
pjproject-android/pjlib/lib/
pjproject-android/pjmedia/bin/
pjproject-android/pjmedia/build/.pjmedia-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/.pjmedia-audiodev-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/.pjmedia-codec-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/.pjmedia-test-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/.pjmedia-videodev-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/.pjsdp-arm-unknown-linux-androideabi.depend
pjproject-android/pjmedia/build/os-auto.mak
pjproject-android/pjmedia/build/output/
pjproject-android/pjmedia/include/pjmedia-codec/config_auto.h
pjproject-android/pjmedia/include/pjmedia/config_auto.h
pjproject-android/pjmedia/lib/
pjproject-android/pjnath/bin/
pjproject-android/pjnath/build/.pjnath-arm-unknown-linux-androideabi.depend
pjproject-android/pjnath/build/.pjnath-test-arm-unknown-linux-androideabi.depend
pjproject-android/pjnath/build/.pjturn-client-arm-unknown-linux-androideabi.depend
pjproject-android/pjnath/build/.pjturn-srv-arm-unknown-linux-androideabi.depend
pjproject-android/pjnath/build/output/
pjproject-android/pjnath/lib/
pjproject-android/pjsip-apps/bin/
pjproject-android/pjsip-apps/build/.pjsua-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip-apps/build/.pjsystest-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip-apps/build/output/
pjproject-android/pjsip/bin/
pjproject-android/pjsip/build/.pjsip-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip/build/.pjsip-simple-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip/build/.pjsip-test-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip/build/.pjsip-ua-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip/build/.pjsua-lib-arm-unknown-linux-androideabi.depend
pjproject-android/pjsip/build/os-auto.mak
pjproject-android/pjsip/build/output/
pjproject-android/pjsip/include/pjsip/sip_autoconf.h
pjproject-android/pjsip/lib/
pjproject-android/third_party/build/milenage/.libmilenage-arm-unknown-linux-androideabi.depend
pjproject-android/third_party/build/milenage/output/
pjproject-android/third_party/build/os-auto.mak
pjproject-android/third_party/build/portaudio/os-auto.mak
pjproject-android/third_party/build/resample/.libresample-arm-unknown-linux-androideabi.depend
pjproject-android/third_party/build/resample/output/
pjproject-android/third_party/build/srtp/.libsrtp-arm-unknown-linux-androideabi.depend
pjproject-android/third_party/build/srtp/output/
pjproject-android/third_party/lib/
