.deps
.libs
Makefile
Makefile.in
*.lo
*.la
*.o
echo-server
echo-client
bus-test
unbase64
*.bb
*.bbg
*.da
*.gcov
break-loader
spawn-test
test-exit
test-segfault
test-service
test-sleep-forever
decode-gcov
shell-test
test-shell-service
test-names
