.deps
.libs
Makefile
Makefile.in
*.lo
*.la
dbus-send
dbus-monitor
dbus-cleanup-sockets
dbus-launch
dbus-uuidgen
*.bb
*.bbg
*.gcov
*.da
dbus-viewer
dbus-glib-bindings.h
run-with-tmp-session-bus.conf
print-introspect
dbus-bus-introspect.xml
