CMakeFiles/
demo-*
configure
Makefile
Makefile.in
aclocal.m4
cmake_*
/CMakeCache.txt
config.h
/auto*/
/configure
/config.*
/ccrtp-config.h
/ccrtp-config.h.in
/ccrtp.list
/directive
/libtool
doc/ccrtp.info
doc/doxy
doc/html/
doc/man/
demo/audiorx
demo/audiotx
demo/ccrtptest
demo/ccsrtptest
demo/rtpduphello
demo/rtphello
demo/rtplisten
demo/rtpsend
/stamp-*
*.o
*.lo
*.la
*.so*
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*.cbp
*~
TAGS
.gitattributes
directive.in
/packaging/
