.*.sw?
*.orig
*.rej
*.o
*~
compile
config.cache
config.log
config.status
config.sub
configure
depcomp
*.pc
install-sh
libtool
ltmain.sh
missing
stamp-h1
stamp-h
stamp-h.in
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
*.bb
*.bbg
*.da
*.gcov
tags
