name: Build Jami Android

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          # можно явно указать версию cmdline-tools (или "latest")
          cmdline-tools-version: "latest"
          # список пакетов, которые нужно установить
          packages: |
            platform-tools
            platforms;android-33
            build-tools;33.0.2
          # автоматически принять лицензионные соглашения
          accept-android-sdk-licenses: true


      - name: Grant Gradle permission
        run: chmod +x ./gradlew

      - name: Build APK
        run: ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: jami-debug
          path: jami-android/app/build/outputs/apk/debug/*.apk
